/* Form */
.DiaryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  margin: 20px 10px 40px 10px;
}

.row {
  display: flex;
  width: 50vw;
  margin-bottom: 15px;
}

.title-col {
  flex-shrink: 0;
  width: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.content-col {
  flex-grow: 1;
}

.content-col input,
.content-col textarea,
.content-col select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
}

.content-col textarea {
  height: 100px;
  resize: none;
}

.content-col select {
  text-align: center;
}

.row button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: beige;
  border: 1px solid gray;
}

/* List */
.DiaryList {
  border: 1px solid gray;
  padding: 40px 20px;
  margin: 20px 10px 0px 10px;
}

.DiaryList h2 {
  text-align: center;
}

/* Item */
.DiaryItem {
  background-color: lightgrey;
  padding: 20px 10px;
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.detail {
  color: rgb(114, 114, 114);
}

.content {
  padding: 20px 0;
  border-top: 1px solid black;
}

.content textarea {
  width: 80%;
  height: 100px;
  resize: none;
}
